<template name="options">

    <div class="btn-group-vertical">
        <!-- These buttons were copied over from the original Mistc. They have no purpose yet.
        <button type="button" class="btn btn-sm btn-default overlay-btn-tool" data-tool="pencil" data-cursor="pencil"
                title="Pencil Tool" disabled>Whiteboard
        </button-->
        <button type="button" class="btn btn-sm btn-default overlay-btn-tool" data-tool="text"
                data-cursor="commenting-o" title="Text Tool" id="muteButton">Mute
        </button>
        <!--button type="button" class="btn btn-sm btn-default overlay-btn-tool" data-tool="line" data-cursor="minus"
                title="Line Tool" disabled>Play
        </button-->
    </div>

</template>