<template name="record">

    <div class="btn-group padded">

        <button type="button" class="btn btn-sm btn-default overlay-btn-recording" id="recordBtn" title="Recording" disabled>
            <i class="fa fa-circle fa-fw"></i>
        </button>

        <button type="button" class="btn btn-sm btn-default overlay-btn-recording" id="downloadBtn" title="Download" disabled>
            <i class="fa fa-download fa-fw"></i>
        </button>

    </div>
    <div class="form-group" id="recordingSelection">
        <label for="selected">Rec. Type:</label>
        <select class="form-control" id="recordingType" disabled>
            <option value="audio/webm" selected>Audio</option>
            <option value="video/webm">Video</option>
        </select>
    </div>
</template>