<template name="controlPanel">

    <section id="control-panel-section-playback" class="control-panel-section">
        {{> playerControls}}
        {{> slideDuration}}
    </section>
    <section id="control-panel-section-slide-manager" class="control-panel-section">
        {{> slidePicker}}
        {{> slidePlaybackPosition}}
    </section>
    <section id="control-panel-section-sound-test" class="control-panel-section">
        {{> options}}
        {{> equalizers}}
    </section>
    <section id="control-panel-section-options" class="control-panel-section">
        {{> soundTestControls}} <!-- swap soundTestControls and options if you want to re-add buttons-->
    </section>

</template>